/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    padding: 10px 16%;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul {
    display: flex;
    gap: 18px;
}

/* Hero Styles */
.hero {
    padding: 50px 0;
    display: flex;
    gap: 25px;
}

.hero-left {
    flex: 1;
}

.hero-right {
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box Section Styles */
.boxes-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cards {
    display: flex;
    gap: 40px;
}

.card {
    width: 130px;
}

.box {
    width: 130px;
    height: 130px;
    border: 3px solid blue;
    border-radius: 10px;
    flex: none;
    margin: 10px 0;
}

/* Quote Section Styles */
.quote-section {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author {
    align-self: self-end;
}

/* Call-to-Action Styles */
.cta-section {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    background-color: blue;
    color: white;
    padding: 30px 50px;
    justify-content: space-between;
    gap: 50px
}